<div class="create-post-modal">
  <span class="create-post-modal__close" (click)="onClose()">&times;</span>

  <div class="create-post-modal__title">Đăng bài viết</div>

  <div class="create-post-modal__user-info">
    <div class="create-post-modal__user-info__profile">
      <img class="create-post-modal__user-info__profile__avatar" src="assets/image/default-avatar.png" />

      <div class="create-post-modal__user-info__profile__info">
        <div class="create-post-modal__user-info__profile__info__name">
          {{ currentUser.fullName }}
        </div>

        <div class="create-post-modal__user-info__profile__info__email">
          {{ currentUser.email }}
        </div>
      </div>
    </div>
  </div>

  <div class="address-title">Địa chỉ liên hệ</div>

  <div class="address-group">
    <div class="create-post-modal__user-info__profile__info__address">
      <mat-icon class="create-post-modal__user-info__profile__info__address__location"> location_on</mat-icon>

      <div class="create-post-modal__user-info__profile__info__address__address">
        {{ currentUser.address | address }}
      </div>
    </div>

    <div class="create-post-modal__user-info__address" (click)="onOpenAddressModal()">
      <div class="create-post-modal__user-info__address__title">Chọn địa chỉ</div>

      <mat-icon class="create-post-modal__user-info__address__icon">map</mat-icon>
    </div>
  </div>

  <form [formGroup]="postForm" (ngSubmit)="onSubmitPost()">
    <input class="create-post-modal__input-title" placeholder="Tiêu đề" formControlName="itemName" />

    <div class="create-post-modal__add-image">
      <div *ngFor="let item of url; let index = index" class="create-post-modal__add-image__container">
        <img [src]="item" *ngIf="url" class="create-post-modal__add-image__container__image" />

        <span class="create-post-modal__add-image__container__close"
          (click)="onRemoveSelectedFile(index)">&times;</span>
      </div>

      <div class="create-post-modal__add-image__btn">
        <label for="uploadImage">
          <mat-icon class="create-post-modal__add-image__btn__icon">add_photo_alternate</mat-icon>
          <div class="create-post-modal__add-image__btn__text">Thêm ảnh</div>
        </label>

        <input type="file" id="uploadImage" accept="image/png" multiple (change)="selectFile($event)" />
      </div>
    </div>

    <div class="create-post-modal__category">
      <app-category [categoryBackground]="this.categoryTabBackground"
        [categoryIconBackground]="this.categoryIconBackground" (categoryIDChange)="handleCategoryId($event)"
        [disableAllCate]="true"></app-category>
    </div>

    <input type="number" class="create-post-modal__phone" placeholder="Số điện thoại liên hệ"
      formControlName="phoneNumber" />

    <textarea rows="4" class="create-post-modal__description" placeholder="Nội dung bài đăng"
      formControlName="description"></textarea>

    <button type="submit" class="create-post-modal__btn">Đăng bài</button>
  </form>

  <div class="address-modal" [style.display]="this.isOpenAddressModal ? 'block' : 'none'">
    <app-address-modal [isOpenModal]="this.isOpenAddressModal" (modalChange)="this.isOpenAddressModal = $event"
      (addressData)="handleAddress($event)">
    </app-address-modal>
  </div>
</div>

<app-message-modal [isSuccessButton]="this.isSuccess" [message]="this.messageModalMessage"
  [openMessageModal]="this.isOpenMessageModal" [handleCloseParent]="this.isOpenModal"
  (modalChange)="this.modalChange.emit($event)"></app-message-modal>

<app-loader [style.display]="this.loading ? 'block' : 'none'"></app-loader>
