
@import '/src/styles/variables';

.about-group {
    width: 100%;
    border-radius: $border-radius-light;
    background-color: white;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    @include box-shadow();

    &__title {
        font-weight: $font-weight-bold;
        font-size: $default-font-size;
        border-bottom: 1px solid $primary-border-otp-color;
        padding-bottom: 1rem;
    }

    &__description {
        margin-top: 1rem;
    }
}