<div class="profile">
  <img class="profile__avatar" src="assets/image/default-avatar.png" />
  <h3 class="profile__heading">Thông tin cá nhân</h3>
  <!-- Name -->
  <div class="profile__grid">
    <div class="row justify-content-between align-items-baseline">
      <label class="col-4">Tên tài khoản</label>
      <div class="col-8 d-flex justify-content-between align-items-baseline none">
        <span class="profile__grid__text">Nguyễn Văn Dũng</span>
        <a href="javascript:void(0)" class="profile__grid__edit">
          <mat-icon class="icon">create</mat-icon>
          Chỉnh sửa
        </a>
      </div>
      <div class="col-8">
        <input type="text" class="profile__grid__form-control border-0 my-2" id="fullname"
          placeholder="Nhập tên tài khoản" value="Nguyễn Dũng">
        <div class="my-2">
          <a class="btn btn-sm btn-primary">Lưu thay đổi</a>
          <a class="btn btn-sm btn-cancel">Huỷ</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Email -->
  <div class="profile__grid">
    <div class="row justify-content-between align-items-baseline">
      <label class="col-4">Email</label>
      <div class="col-8 d-flex justify-content-between align-items-baseline none">
        <span class="profile__grid__text">nvdung.khtn@gmail.com</span>
        <a href="javascript:void(0)" class="profile__grid__edit">
          <mat-icon class="icon">create</mat-icon>
          Chỉnh sửa
        </a>
      </div>
      <div class="col-8">
        <input type="email" class="profile__grid__form-control border-0 my-2" id="email"
          placeholder="Nhập email của bạn" value="nvdung.khtn@gmail.com">
        <div class="my-2">
          <a class="btn btn-sm btn-primary">Lưu thay đổi</a>
          <a class="btn btn-sm btn-cancel">Huỷ</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Phone -->
  <div class="profile__grid">
    <div class="row justify-content-between align-items-baseline">
      <label class="col-4">Số điện thoại</label>
      <div class="col-8 d-flex justify-content-between align-items-baseline d-none">
        <span class="profile__grid__text">0398202274</span>
        <a href="" class="profile__grid__edit">
          <mat-icon class="icon">create</mat-icon>
          Chỉnh sửa
        </a>
      </div>
      <div class="col-8">
        <input type="number" class="profile__grid__form-control border-0 my-2" id="phone" placeholder="Nhập SĐT của bạn"
          value="039 820 2274">
        <div class="my-2">
          <a class="btn btn-sm btn-primary">Lưu thay đổi</a>
          <a class="btn btn-sm btn-cancel">Huỷ</a>
        </div>
      </div>
    </div>
  </div>
  <!-- DOB -->
  <div class="profile__grid">
    <div class="row justify-content-between align-items-baseline">
      <label class="col-4">Ngày sinh</label>
      <div class="col-8 d-flex justify-content-between align-items-baseline none">
        <span class="profile__grid__text">11/03/1997</span>
        <a href="" class="profile__grid__edit">
          <mat-icon class="icon">create</mat-icon>
          Chỉnh sửa
        </a>
      </div>
      <div class="col-8">
        <mat-form-field appearance="fill" style="width: 100%; color: #0e88fa; height: 60px;" class="auth-input__date">
          <input formControlName="dob" matInput [matDatepicker]="picker" name="datepicker" ngModel #dateCtrl required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched">Choose a Date</mat-error>
        </mat-form-field>
        <div class="my-2">
          <a class="btn btn-sm btn-primary">Lưu thay đổi</a>
          <a class="btn btn-sm btn-cancel">Huỷ</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Address -->
  <div class="profile__grid">
    <div class="row justify-content-between align-items-baseline">
      <label class="col-4">Địa chỉ</label>
      <div class="col-8 d-flex justify-content-between align-items-baseline">
        <span class="profile__grid__text">127/48/30 Âu Cơ, P.14, Q.11, Hcm</span>
        <a href="javascript:void(0)" (click)="openModalAddress()" class="profile__grid__edit">
          <mat-icon class="icon">create</mat-icon>
          Chỉnh sửa
        </a>
      </div>
      <div class="col-8" [style.display]="'none'">
        <input type="text" class="form-control border-0 my-2" id="staticEmail" placeholder="Nhập tên tài khoản"
          value="Nguyễn Dũng">
        <div class="my-2">
          <a class="btn btn-sm btn-primary">Lưu thay đổi</a>
          <a class="btn btn-sm btn-light" style="margin-left: 5px;">Huỷ</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="address-modal" [style.display]="this.isOpenAddressModal ? 'block' : 'none'">
  <app-address-modal [isOpenModal]="this.isOpenAddressModal" (modalChange)="this.isOpenAddressModal=$event"
    (addressData)="handleAddress($event)">
  </app-address-modal>
</div>
