@import "/src/styles/variables";

.create-group {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    border-radius: $border-radius-light;
    color: $primary-text-color;
    max-width: 750px;
    height: auto;
    max-height: 580px;
    overflow-y: scroll;
    z-index: 3;
    padding: 1% 2%;

    &::-webkit-scrollbar {
        display: none;
    }

    &__title {
        padding-bottom: 10px;
        font-size: $default-font-size;
        border-bottom: 1px solid $primary-light-text-color;
        font-weight: $font-weight-bold;
        text-align: center;
    }

    &__create-btn {
        margin-top: 1rem;
    }
}

.message-error {
    color: #ee4d2d;
    font-size: 14px;
    margin-top: 2px;
    margin-bottom: -10px;
}

.input {
    background-color: rgb(242, 242, 242) !important;
}