@import '/src/styles/variables';

.event {
    position: absolute;
    top: 0;
    /* bottom: 0; */
    left: 0;
    right: 0;
    margin-top: 60px;
    z-index: 2;
    background-color: $primary-icon-background-color;
    font-size: $default-font-size;
    height: fit-content;
    min-height: 100%;

    @media (max-width: 1024px) {
        margin-top: 125px;
    }
}