@import '../../../../../styles/variables';

.login-container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    font-size: $title-font-size;

    @media (min-width: 768px) and (max-width: 1024px) {
        display: block;
    }

    @media (max-width: 767px) {
        display: block;
    }

    &__left{
        margin: 3% 13%;

        &__heading {
            display: flex;

            &__logo {
                display: flex;
                width: 60%;
                max-width: 180px;
            }
            
            &__category {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                flex-basis: 100%;

                @media (min-width: 768px) and (max-width: 1024px) {
                    display: none;
                }

                @media (max-width: 767px) {
                    display: none;
                }

                &__text {
                    margin-left: 10%;
                    font-weight: $font-weight-medium;
                    color: $primary-light-text-color;
                    cursor: pointer;
                    
                    &__selected {
                        font-weight: $font-weight-bold;
                        color: $selected-text-color;
                        cursor: pointer;
                    }
                }
            }
        };


        &__form {

            @media (min-width: 1281px) {
                margin-top: 20px;
            }

            @media (min-width: 1025px) and (max-width: 1280px) {
                margin-top: 50px;
            }
            
            &__title {
                font-weight: $font-weight-bold;
                font-size: $largest-font-size;
                color: $primary-text-color;
                margin-bottom: 5%;
            }

            &__describe {
                color: $primary-light-text-color;
                margin-bottom: 8%;
            }

            &__input {
                &__text {
                    margin-top: 4%;

                    &__inside {
                        border: none;
                        padding: 2% 0;
                        border-bottom: 1px solid $primary-color;
                        width: 100%;
                        color: $primary-color;
                        font-size: $default-font-size;
                        
                        &:focus {
                            outline: none;
                        }

                        &::placeholder {
                            color: $primary-color;
                        }
                    }
                }
            }

            &__sign-up-free {
                display: inline-block;

                @media (min-width: 1281px) {
                    display: none;
                }
    
                @media (min-width: 1025px) and (max-width: 1280px) {
                    display: none;
                }
                color: $primary-lightest-text-color;
                text-align: right;
                margin: 5% 0;
                cursor: pointer;
            }

            &__forgot {
                display: inline-block;
                float: right;

                &:hover {
                    text-decoration: underline;
                }

                @media (min-width: 1281px) {
                    display: block;
                    float: none;
                }
    
                @media (min-width: 1025px) and (max-width: 1280px) {
                    display: block;
                    float: none;
                }

                @media (max-width: 480px) {
                    display: block;
                    float: none;
                    text-align: left;
                }

                color: $primary-lightest-text-color;
                text-align: right;
                margin: 5% 0;
                cursor: pointer;
            }

            &__error {
                display: none;
                color: red;
            }

            &__btn {
                width: 100%;
                border: none;
                text-align: center;
                margin: 5% 0;
                padding: 3% 0;
                background-color: $btn-color;
                color: white;
                border-radius: 10px;
                cursor: pointer;
                box-shadow: 0 10px 20px 0 $box-shadow-color;

                &:hover {
                    background-color: $btn-selected;
                }
            }

            &__other {
                text-align: center;
                color: $primary-lightest-text-color;
                margin: 2% 0;

                span { 
                    display: flex; 
                    flex-direction: row;

                    &::before, &::after {
                        content: ""; 
                        flex: 1 1; 
                        border-bottom: 1px solid $primary-color; 
                        margin: auto; 
                    }

                    &::before {
                        margin-right: 2%;
                    }

                    &::after {
                        margin-left: 2%;
                    }
                } 
                
            }

            &__image {
                text-align: center;

                span {
                    margin: 0 1%
                }

                &__logo {
                    cursor: pointer;
                }
            }
        }
    }

    &__right {
        background-image: $linear-vertical;
        display: flex;
        align-items: center;

        @media (min-width: 768px) and (max-width: 1024px) {
            display: none;
        }

        @media (max-width: 767px) {
            display: none;
        }

        &__circle {
            width: 90%;
            padding-top: 90%; //height = width
            background-color: #9dd0ff2b;
            border-radius: 50%;
            display: inline-block;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 85%;
                padding-top: 85%; //height = width
                border-radius: 50%;
                background-color: #9ed0ff2b;
                background-size: 100px 100px;
                background-size: 75%;
                background-image: url("../../../../../assets//image/image-sign-in.svg");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}