<div class="login-container">
  <div class="login-container__left">
    <div class="login-container__left__heading">
      <img [routerLink]="['/auth/login']" class="login-container__left__heading__logo"
        src="assets/image/2hand-sharing.png" />

      <div class="login-container__left__heading__category">
        <div class="login-container__left__heading__category__text__selected">
          Đăng nhập
        </div>

        <div class="login-container__left__heading__category__text">
          <p (click)="navigation('register')">Đăng ký</p>
        </div>
      </div>

    </div>

    <div class="login-container__left__form">
      <div class="login-container__left__form__title">
        ĐĂNG NHẬP
      </div>

      <div class="login-container__left__form__describe">
        Đăng nhập để chia sẻ món đồ của bạn
      </div>
      <form [formGroup]="loginForm" autocomplete="on" (ngSubmit)="onSubmit()">
        <div class="login-container__left__form__input">
          <div class="login-container__left__form__input__text">
            <input type="email" class="login-container__left__form__input__text__inside" placeholder="Tên đăng nhập"
              formControlName="email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="message-error mt-1">
              <div *ngIf="email.errors?.required" class="text text-danger">
                Vui lòng nhập trường này!
              </div>
              <div *ngIf="email.errors?.email" class="text text-danger">
                Email không hợp lệ!
              </div>
            </div>
          </div>

          <div class="login-container__left__form__input__text">
            <input type="password" class="login-container__left__form__input__text__inside" placeholder="Mật khẩu"
              formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="message-error mt-1">
              <div *ngIf="password.errors?.required" class="text text-danger">
                Vui lòng nhập trường này!
              </div>
            </div>
          </div>
        </div>
      </form>


      <div class="login-container__left__form__sign-up-free">
        <p (click)="navigation('register')">Đăng ký miễn phí</p>
      </div>

      <div class="login-container__left__form__forgot">
        <p (click)="navigation('forgot')">Quên mật khẩu?</p>
      </div>

      <div class="login-container__left__form__error" [style.display]="this.isError ? 'block' : 'none'">
        <!-- Tên đăng nhập hoặc mật khẩu không đúng! -->
        {{message}}
      </div>

      <div class="login-container__left__form__btn" (click)="onSubmit()">
        <div type="button" (click)="onSubmit">Đăng nhập</div>
      </div>

    </div>
  </div>

  <div class="login-container__right">
    <div class="login-container__right__circle">
    </div>
  </div>
</div>

<app-loader [style.display]="this.loading ? 'block' : 'none'"></app-loader>
