<div class="login-container">
    <div class="login-container__left">
        <div class="login-container__left__heading">
            <img class="login-container__left__heading__logo" src="assets/image/2hand-sharing.png" />
            
            <div class="login-container__left__heading__category">
                <div class="login-container__left__heading__category__text__selected">
                    Đăng nhập
                </div>
    
                <div class="login-container__left__heading__category__text">
                    Đăng ký
                </div>
            </div>
            
        </div>

        <div class="login-container__left__form">
            <div class="login-container__left__form__title">
                ĐĂNG NHẬP
            </div>

            <div class="login-container__left__form__describe">
                Đăng nhập để chia sẻ món đồ của bạn
            </div>

            <div class="login-container__left__form__input">
                <div class="login-container__left__form__input__text">
                    <input class="login-container__left__form__input__text__inside" placeholder="Email">
                </div>

                <div class="login-container__left__form__input__text">
                    <input class="login-container__left__form__input__text__inside" placeholder="Mật khẩu">
                </div>
            </div>

            <div class="login-container__left__form__forgot">
                Quên mật khẩu?
            </div>

            <div class="login-container__left__form__btn">
                Đăng nhập
            </div>

            <div class="login-container__left__form__other">
                <span>Hoặc</span>
            </div>

            <div class="login-container__left__form__other">
                Đăng nhập với
            </div>

            <div class="login-container__left__form__image">
                <span>
                    <img class="login-container__left__form__image__logo" src="assets/image/google.png" />
                </span>

                <span>
                    <img class="login-container__left__form__image__logo" src="assets/image/facebook.png" />
                </span>
            </div>
            
        </div>
    </div>

    <div class="login-container__right">
        <div class="login-container__right__circle"></div>
    </div>
</div>
