@import "../../../../../styles/variables";

.request-modal {
    text-align: center;
    width: 40%;
    background-color: #fff;
    margin: 0 auto;
    position: relative;
    padding: 1%;
    border-radius: $border-radius-light;
    color: $primary-text-color;
    max-width: 750px;
    height: 20%;
    max-height: 150px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    @media (max-width: 1024px) {
        width: 90%;
        max-width: none;
    }

    &__close {
        position: absolute;
        top: 5px;
        right: 10px;
        color: $primary-text-color;
        font-size: 30px;
        transition: 0.3s;

        &:hover,
        &:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
    }

    &__title {
        padding-bottom: 10px;
        font-size: $default-font-size;
        /* border-bottom: 1px solid $primary-light-text-color; */
        font-weight: $font-weight-bold;
        text-align: center;
    }

    &__text {
        margin-top: 4%;
        width: 100%;
        box-sizing: border-box;
        padding: 1% 2%;
        font-size: 16px;
        border: none;
        border-bottom: solid 1px $primary-lightest-text-color;

        &:focus,
        &:hover {
            outline: none;
        }
    }

    &__confirm {
        margin: 0 2%;
        margin-top: 4%;
        text-align: right;
        cursor: pointer;
        color: $primary-color;

        &:hover {
            color: $btn-selected;
            font-weight: bold;
        }
    }
}

.error {
    display: inline-block;
}
