<div
  class="list-discusstion"
  *ngFor="let post of listDiscussion"
  [routerLink]="['/group', this.groupId, 'discussion', post?.id]"
>
  <div class="post-owner">
    <img class="post-owner__avatar" [src]="post?.avatarUrl ? post?.avatarUrl : 'assets/image/default-avatar.png'" />
    <div class="post-owner__info">
      <div class="post-owner__name">{{ post?.postByAccountName }}</div>
      <div class="post-owner__time">{{ post?.postTime }}</div>
    </div>
  </div>

  <div class="post-content">
    {{ post?.content }}
  </div>

  <img *ngIf="post?.imageUrl" class="post-image" src="{{ post?.imageUrl }}" />
</div>
