@import "/src/styles/variables";

.members-group {
    width: 100%;
    border-radius: $border-radius-light;
    background-color: white;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    @include box-shadow();

    &__title {
        font-weight: $font-weight-bold;
        font-size: $default-font-size;
        border-bottom: 1px solid $primary-border-otp-color;
        padding-bottom: 1rem;
    }

    &__list {
        margin-top: 1rem;
        overflow-y: visible;

        @media (max-width: 1024px) {
            height: calc(100vh - 14rem);
        }

        &::-webkit-scrollbar {
            display: none;
        }

        &__profile {
            display: flex;
            align-items: center;
            padding: 5px 2%;
            margin-top: 5px;
            cursor: pointer;

            &:hover {
                cursor: pointer;
                background-color: $primary-icon-background-color;
                border-radius: 5px;
            }

            &__avatar {
                width: 45px;
                height: 45px;
                margin-right: 1rem;
                border-radius: 100%;
            }

            &__info {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

                &__name {
                    font-weight: $font-weight-medium;
                    color: $primary-text-color;
                }

                &__times {
                    font-style: italic;
                }
            }
        }
    }

    .num-member {
        color: $primary-icon-color;
        font-size: $default-font-size;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .more-btn {
        cursor: pointer;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 15rem;
        overflow: auto;
        z-index: 1;
        right: 100%;
        bottom: 0;
        width: 100%;
        padding: 0.5rem;
        box-sizing: border-box;
        @include box-shadow();
    }

    .dropdown-option {
        cursor: pointer;
        padding: 1rem;

        &:hover {
            background-color: $primary-icon-background-color;
        }
    }

    .displayMore {
        display: block;
    }

    .hideMore {
        display: none;
    }

    .request-list {
        margin-bottom: 2rem;
    }

    .accept-btn {
        display: inline-flex;
        align-items: center;
        border: none;
        border-radius: 100%;
        width: 2.25rem;
        height: 2.25rem;
        color: white;
        background-color: $light-green;

        &:hover {
            background-color: $green;
        }
    }

    .cancel-btn {
        display: inline-flex;
        align-items: center;
        border: none;
        border-radius: 100%;
        width: 2.25rem;
        height: 2.25rem;
        color: $primary-icon-color;
        background-color: $btn-cancel-color;
        margin-left: 0.5rem;

        &:hover {
            background-color: $btn-cancel-color-hover;
        }
    }

    .no-request {
        padding-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
