<div class="members-group">
  <div *ngIf="this.isAdmin === true">
    <div class="members-group__title">Yêu cầu tham gia</div>

    <div class="no-request" [style.display]="this.requestList?.length === 0 ? 'flex' : 'none'">Không có yêu cầu tham gia
    </div>

    <div class="members-group__list request-list">
      <div *ngFor="let request of requestJoins">
        <div class="flex">
          <div class="members-group__list__profile" [routerLink]="['/profile', request?.requesterId]">
            <img class="members-group__list__profile__avatar"
              src="{{ request?.avatarUrl || 'assets/image/default-avatar.png' }}" />

            <div class="members-group__list__profile__info">
              <div class="members-group__list__profile__info__name">
                {{ request?.requesterName }}
              </div>
            </div>
          </div>

          <div>
            <button type="button" class="accept-btn" (click)="approveToJoin(request.requesterId)">
              <mat-icon>done</mat-icon>
            </button>

            <button type="button" class="cancel-btn" (click)="rejectToJoin(request.requesterId)">
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
      </div>
      <span *ngIf="requestJoins?.length == 0">Không có yêu cầu tham gia mới.</span>
    </div>
  </div>

  <div>
    <div class="members-group__title">
      Quản trị viên <span class="num-member">{{ admins?.length }}</span>
    </div>

    <!-- ADMIN LIST -->
    <div class="members-group__list">
      <div *ngFor="let user of admins">
        <div class="flex">
          <div class="members-group__list__profile" [routerLink]="['/profile', user?.userId]">
            <img class="members-group__list__profile__avatar"
              src="{{ user?.avatarUrl || 'assets/image/default-avatar.png' }}" />

            <div class="members-group__list__profile__info">
              <div class="members-group__list__profile__info__name">
                {{ user?.fullName }}
              </div>
            </div>
          </div>

          <!-- <div class="dropdown" *ngIf="isAdmin">
            <mat-icon #toggleButton class="more-btn" (click)="onDisplayMenu(user)">more_vert</mat-icon>
            <div #menu class="dropdown-content"
              [ngClass]="this.selectedUser === user?.userId ? 'displayMore' : 'hideMore'">
              <div class="dropdown-option" (click)="onDownToMember(user)">Giáng cấp xuống thành viên</div>
              <div class="dropdown-option" (click)="onKickMember(user)">Trục xuất khỏi nhóm</div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="tab-member">
    <div class="members-group__title">
      Thành viên <span class="num-member">{{ members?.length }}</span>
    </div>

    <div class="members-group__list">
      <!-- MEMBER LIST -->
      <div *ngFor="let user of members">
        <div class="flex">
          <div class="members-group__list__profile" [routerLink]="['/profile', user?.userId]">
            <img class="members-group__list__profile__avatar"
              src="{{ user?.avatarUrl || 'assets/image/default-avatar.png' }}" />

            <div class="members-group__list__profile__info">
              <div class="members-group__list__profile__info__name">
                {{ user?.fullName }}
              </div>
            </div>
          </div>

          <div class="dropdown" *ngIf="isAdmin">
            <mat-icon #toggleButton class="more-btn" (click)="onDisplayMenu(user)">more_vert</mat-icon>
            <div #menu class="dropdown-content"
              [class]="this.selectedUser === user?.userId ? 'displayMore' : 'hideMore'">
              <div class="dropdown-option" (click)="onUpToAdmin(user.userId)">Thăng chức làm quản trị viên</div>
              <div class="dropdown-option" (click)="kickOutMember(user.userId)">Trục xuất khỏi nhóm</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
