
@import '/src/styles/variables';

.members-group {
    width: 100%;
    border-radius: $border-radius-light;
    background-color: white;
    padding: 1rem 2rem;
    margin-bottom: 1rem;

    @include box-shadow();

    &__title {
        font-weight: $font-weight-bold;
        font-size: $default-font-size;
        border-bottom: 1px solid $primary-border-otp-color;
        padding-bottom: 1rem;
    }

    &__list {
        margin-top: 1rem;
        overflow-y: scroll;
    
        @media (max-width: 1024px) {
            height: calc(100vh - 14rem);
        }
    
        &::-webkit-scrollbar {
          display: none;
        }
    
        &__profile {
          display: flex;
          align-items: center;
          padding: 5px 2%;
          margin-top: 5px;
          cursor: pointer;
          width: 100%;
    
          &:hover {
            cursor: pointer;
            background-color: $primary-icon-background-color;
            border-radius: 5px;
          }
    
          &__avatar {
            width: 45px;
            height: 45px;
            margin-right: 2%;
            border-radius: 100%;
          }
    
          &__info {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
    
            &__name {
              font-weight: $font-weight-medium;
              color: $primary-text-color;
            }
    
            &__times {
              font-style: italic;
            }
          }
        }
      }

    .num-member {
        color: $primary-icon-color;
        font-size: $default-font-size;
    }

    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }

    .more-btn {
      padding: 10px;
      background-color: $primary-lightest-text-color;
      font-weight: bold;
      color: white;
      width: 3rem;
      border-radius: $border-radius-light;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
}