<div class="create-post">
    <img class="create-post__avatar" src="assets/image/default-avatar.png" />

    <div class="create-post__btn" (click)="onClick()">
        <div class="create-post__btn__inside">
            Đăng bài
        </div>
    </div>
</div>

<div id="create-post-modal" class="create-post__modal" [style.display]="this.isOpenModal ? 'block' : 'none'">
    <app-create-post-modal [isOpenModal]="this.isOpenModal" (modalChange)="this.isOpenModal=$event"></app-create-post-modal>
</div>