// Declare variables

//color
$primary-color: #0E88FA;
$selected-text-color: #0E88FA;
$primary-text-color: #333333;
$primary-light-text-color: #494949;
$primary-lightest-text-color: #A9A9A9;
$linear-vertical: linear-gradient(#0E88FA , #9DD0FF);

//button
$btn-color: #0E88FA;
$btn-selected: #0773D9;

//font: 1rem = 16px
$title-font-size: 1.25rem;
$default-font-size: 1rem;
$main-font-size: 0.9375rem;
$largest-font-size: 1.5rem;

//font-weight;
$font-weight-bold: 700;
$font-weight-medium: 600;

//box-shadow;
$box-shadow-color: #55ACFC;