// Declare variables

//color
$light-blue: #9dd0ff;
$lightest-blue: #cbe6ff;
$light-grey: #767676;
$light-pink: #f780a9;
$pink: #f94885;
$light-green: #50e156;
$green: #13c61a;

$primary-color: #0e88fa;
$selected-text-color: #0e88fa;
$primary-text-color: #333333;
$primary-light-text-color: #494949;
$primary-lightest-text-color: #a9a9a9;
$linear-vertical: linear-gradient(#0e88fa, #9dd0ff);
$primary-border-otp-color: #c4c4c4;
$primary-icon-color: #4d4d4d;
$primary-icon-background-color: #f2f2f2;

//button
$btn-color: #0e88fa;
$btn-selected: #0773d9;
$btn-disabled: #979797;

//font: 1rem = 16px
$title-font-size: 1.25rem;
$default-font-size: 1rem;
$main-font-size: 0.9375rem;
$largest-font-size: 1.5rem;
$min-font-size: 0.813rem;

//font-weight;
$font-weight-bold: 700;
$font-weight-medium: 600;

//box-shadow;
$box-shadow-color: #55acfc;

//border-radius
$border-radius-default: 10px;
$border-radius-light: 5px;

//screen size

@media (min-width: 1281px) {
    /* CSS */
}

@media (min-width: 1025px) and (max-width: 1280px) {
    /* CSS */
}

@media (min-width: 768px) and (max-width: 1024px) {
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

@media (min-width: 481px) and (max-width: 767px) {
}

@media (min-width: 320px) and (max-width: 480px) {
}
