<div *ngIf="items else loadingTmpl" class="list-items" infiniteScroll [infiniteScrollDistance]="itemListScrollDistance"
  [infiniteScrollThrottle]="itemListScrollThrottle" (scrolled)="onItemListScrollDown()" [scrollWindow]="false"
  [alwaysCallback]="true">
  <div class="list-items__grid" [style.display]="items?.length === 0 ? 'none' : 'grid'">
    <div class="list-items__grid__card" routerLink="/item/{{item?.id}}" *ngFor="let item of items">
      <div class="list-items__grid__card__image">
        <img class="list-items__grid__card__image__inside"
          [src]="item?.imageUrl ? item.imageUrl : 'assets/image/default-image.png'">
      </div>

      <div class="list-items__grid__card__name">
        {{item?.itemName}}
      </div>

      <div class="list-items__grid__card__post-info">
        <div class="list-items__grid__card__post-info__time">
          {{item?.postTime | time}} - {{item?.address | address}}
        </div>
      </div>

      <div class="list-items__grid__card__line"></div>

      <div class="list-items__grid__card__description">
        {{item?.description}}
      </div>
    </div>
  </div>
  <div [style.display]="items?.length === 0 ? 'flex' : 'none'" class="noData">
    <!-- Them hình ảnh | icon -->
    Không có dữ liệu trong danh mục này
  </div>
</div>

<ng-template #loadingTmpl>
  Loading...
</ng-template>
