@import "../../../../../styles/variables";

.selfScroll {
    height: calc(100vh - 25vh);
    overflow-y: scroll;
}

.list-items {
    background-color: #ffffff;
    padding: 15px 2%;
    display: flex;
    border-radius: $border-radius-light;
    color: $primary-text-color;
    /* height: calc(100vh - 25vh);
    overflow-y: scroll; */

    /* &::-webkit-scrollbar {
        display: none;
    } */

    .noData {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .endData {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 6rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;

        @media (min-width: 1920px) {
            grid-template-columns: repeat(4, 1fr);
        }

        @media (max-width: 1280px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 481px) {
            grid-template-columns: 100%;
        }

        &__card {
            padding: 4%;
            cursor: pointer;

            &__image {
                &__inside {
                    width: 100%;
                    border-radius: $border-radius-default;
                    height: 250px;
                    object-fit: cover;
                    border: 1px solid $primary-lightest-text-color;
                }
            }

            &__name {
                font-weight: $font-weight-medium;
                font-size: $default-font-size;
            }

            &__post-info {
                color: $primary-lightest-text-color;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 24px;
            }

            &__description {
                overflow: hidden;
                text-overflow: ellipsis;
                height: 45px;
            }

            &__line {
                border-top: 2px solid $light-grey;
                margin: 1% 0;
            }
        }
    }
}
