@import "/src/styles/variables";

.list-events {

    .event {
        margin-bottom: 1rem;
        cursor: pointer;

        &:last-child {
            margin-bottom: 0;
        }

        &__avatar {
            width: 15rem;
            height: 10rem;
            margin-right: 1rem;
        }

        &__name {
            font-weight: $font-weight-medium;
            font-size: $default-font-size;
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3rem;
            line-height: 1.5rem;
        }

        &__content {
            overflow: hidden;
            text-overflow: ellipsis;
            max-height: 3rem;
            line-height: 1.5rem;
        }

        &__info {
            width: 100%;
        }

        &__time {
            display: flex;
            align-items: center;
            margin: 0.5rem 0;
            color: $primary-light-text-color;

            .icon {
                color: red;
                margin-right: 0.5rem;
            }
        }
    }

    .group-section {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid #333333;
        padding-bottom: 0.5rem;

        &__container {
            display: flex;
        }

        &__avatar {
            width: 40px;
            height: 40px;
            border-radius: 100%;
        }

        &__info {
            margin-left: 1rem;
        }

        &__name {
            font-weight: $font-weight-bold;
        }

        &__date {
            color: $primary-light-text-color;
            font-weight: $font-weight-bold;
        }
    }
}

.flex {
    display: flex;
    width: 100%;
}

.list-events-container {
    padding: 1rem 2rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
        background-color: $lightest-grey;
    }
}

.noData {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    padding: 1rem 0;
}