<div class="list-events">
    <div class="event flex" *ngFor="let event of events" [routerLink]="['/group', event?.groupId , 'event', event?.id]">
        <img class="event__avatar" [src]="'assets/image/event.png'" />

        <div class="event__info">
            <div>
                {{event?.startDate}}
            </div>
            <!-- <div>
                {{event?.endDate}}
            </div> -->
            <div class="event__name">
                {{event?.eventName}}
            </div>
            <div class="event__content">
                {{event?.content}}
            </div>
        </div>
    </div>

    <div class="noData" *ngIf="events?.length === 0">
        Không có sự kiện diễn ra
    </div>
</div>