<div class="forgot-password-form">
  <div class="forgot-password-form__title">
    Quên mật khẩu
  </div>

  <div class="forgot-password-form__describe">
    Vui lòng cung cấp địa chỉ email của bạn.
  </div>

  <div class="forgot-password-form__input">
    <input type="email" class="forgot-password-form__input__inside" placeholder="Email đăng nhập"
      [(ngModel)]="this.emailValue">
  </div>

  <div class="forgot-password-form__error mt-1" [style.display]="this.displayError ? 'block' : 'none'">
    Địa chỉ email không hợp lệ
  </div>

  <div class="forgot-password-form__btn" (click)="onSubmit(this.emailValue)">
    Tiếp tục
  </div>
</div>
