<div class="messages" >
    <div class="messages__title">Tin nhắn (Vui lòng chọn người dùng để gửi tin nhắn)</div>
  
    <div class="messages__list">
      <div class="messages__list__profile" *ngFor="let user of userMessageData" [routerLink]="['/profile', handleUserId(user)]">
        <img
          class="messages__list__profile__avatar"
          src="{{handleAvatar(user) || 'assets/image/default-avatar.png'}}"
        />
  
        <div class="messages__list__profile__info">
          <div class="messages__list__profile__info__name">
            {{ handleAccountName(user) }}
          </div>
        </div>
      </div>
    </div>
  </div>
  
<!--   <app-loader [style.display]="this.loading ? 'block' : 'none'"></app-loader> -->