@import "/src/styles/variables";

.group {
    overflow-y: scroll;
    height: 100%;
    
    &__groups {
        display: inline-block;
        width: 100%;
        overflow: auto;
        white-space: nowrap;
        padding: 1rem 0;
    }

    &__group-element {
        display: inline-flex;
        align-items: flex-end;
        justify-content: center;
        width: 10rem;
        height: 8rem;
        border-radius: 5px;
        border: 1px solid $primary-icon-background-color;
        cursor: pointer;
        margin: 0 0.5rem;
        position: relative;
        text-align: center;
    }

    &__avatar {
        width: 10rem;
        height: 8rem;
        object-fit: cover;
    }

    &__name {
        position: absolute;
        left: 50%;
        height: 35%;
        transform: translate(-50%, 0%);
        color: white;
        background-color: rgba(0,0,0,0.6);
        width: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.5rem;
    }

    &__no-group {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__container {
        margin-bottom: 2%;
    }

    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        font-weight: $font-weight-bold;
    }

    &__create-btn {
        max-width: 7rem;
        box-shadow: unset !important;
    }

    .all-group {
        margin-bottom: 0;
    }

    .event-box {
        padding: 0;
    }

    .event-title {
        font-weight: $font-weight-bold;
        padding: 0 2rem;
        padding-top: 1rem;
    }
}

.create-group-modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 10; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: -20px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */

    @media (max-width: 1024px) {
        top: 0;
    }
}