<div class="group">
  <div class="group__container box-container">
    <div class="group__heading">
      <div class="group__title">Nhóm</div>
      
      <div class="group-search-groups">
        <div class="search">
          <div class="search__input-container">
            <mat-icon class="search__icon">search</mat-icon>
            <input
              class="search__input"
              type="text"
              placeholder="Tìm kiếm nhóm"
              [(ngModel)]="this.searchGroup"
              (ngModelChange)="delayAutoSearchGroup($event)"
              (keyup.enter)="onSearchGroup()"
            />
          </div>
        </div>
        <div class="group__create-btn primary-button" (click)="handleOpenModal()">+ Tạo nhóm</div>
      </div>
    </div>

    <div class="group__container all-group">
      <div class="group__no-group" [style.display]="availableGroups?.length === 0 ? 'flex' : 'none'">
        Hệ thống chưa có bất kỳ nhóm nào
      </div>

      <div class="group__groups" [style.display]="availableGroups?.length === 0 ? 'none' : 'inline-block'">
        <div class="group__group-element" *ngFor="let group of availableGroups" [routerLink]="['/group', group?.id]">
          <img class="group__avatar" [src]="group?.avatarURL ? group?.avatarURL : 'assets/image/group.png'" />
          <div class="group__name">{{ group?.groupName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="group__container box-container">
    <div class="group__title">Nhóm đã tham gia</div>

    <div class="group__no-group" [style.display]="joinedGroups?.length === 0 ? 'flex' : 'none'">
      Bạn chưa tham gia nhóm nào
    </div>

    <div class="group__groups" [style.display]="joinedGroups?.length === 0 ? 'none' : 'inline-block'">
      <div class="group__group-element" *ngFor="let group of joinedGroups" [routerLink]="['/group', group?.id]">
        <img class="group__avatar" [src]="group?.avatarURL ? group?.avatarURL : 'assets/image/group.png'" />
        <div class="group__name">{{ group?.groupName }}</div>
      </div>
    </div>
  </div>

  <div>
    <div class="group-search-event">
      <div class="event-title">
        <fa-icon class="icon" [icon]="this.icon"></fa-icon>
        Sự kiện đang diễn ra
      </div>
  
      <div class="search">
        <div class="search__input-container">
          <mat-icon class="search__icon">search</mat-icon>
          <input
            class="search__input"
            type="text"
            placeholder="Tìm kiếm sự kiện"
            [(ngModel)]="this.searchEvent"
            (ngModelChange)="delayAutoSearchEvent($event)"
            (keyup.enter)="onSearchEvent()"
          />
        </div>
      </div>
    </div>

    <div class="list-events">
      <app-list-events [allEvent]="true" [searchString]="this.searchEventToChild"></app-list-events>
    </div>
  </div>
</div>

<div class="create-group-modal" [style.display]="isOpenGroupModal ? 'block' : 'none'">
  <app-create-group-modal [(modal)]="isOpenGroupModal"></app-create-group-modal>
</div>

<app-loader *ngIf="isLoading"></app-loader>
