<div class="group">
  <div class="group__container box-container">
    <div class="group__heading">
      <div class="group__title">Nhóm</div>

      <div class="group__create-btn primary-button" (click)="handleOpenModal()">+ Tạo nhóm</div>
    </div>

    <div class="group__container all-group">
      <div class="group__no-group" [style.display]="allGroupData?.length === 0 ? 'flex' : 'none'">
        Hệ thống chưa có bất kỳ nhóm nào
      </div>

      <div class="group__groups" [style.display]="allGroupData?.length === 0 ? 'none' : 'inline-block'">
        <div class="group__group-element" *ngFor="let group of allGroupData"  [routerLink]="['/group', group?.id]">
          <img
            class="group__avatar"
            [src]="group?.avatarURL ? group?.avatarURL : 'assets/image/group.png'"
          />
          <div class="group__name">{{ group?.groupName }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="group__container box-container">
    <div class="group__title">Nhóm đã tham gia</div>

    <div class="group__no-group" [style.display]="joinedGroup?.length === 0 ? 'flex' : 'none'">
      Bạn chưa tham gia nhóm nào
    </div>

    <div class="group__groups" [style.display]="joinedGroup?.length === 0 ? 'none' : 'inline-block'">
      <div class="group__group-element" *ngFor="let group of joinedGroup" [routerLink]="['/group', group?.id]">
        <img
          class="group__avatar"
          [src]="group?.avatarURL ? group?.avatarURL : 'assets/image/group.png'"
        />
        <div class="group__name">{{ group?.groupName }}</div>
      </div>
    </div>
  </div>
</div>

<div class="create-group-modal" [style.display]="isOpenGroupModal ? 'block' : 'none'">
  <app-create-group-modal [(modal)]="isOpenGroupModal"></app-create-group-modal>
</div>

<app-loader *ngIf="isLoading"></app-loader>