<div class="register-form">
  <div class="register-form__title">
    ĐĂNG KÝ
  </div>

  <div class="register-form__describe">
    Vui lòng nhập thông tin theo yêu cầu bên dưới để thực hiện đăng ký.
  </div>

  <div class="register-form__input">
    <app-auth-input [placeholderValue]="'Họ tên'" (completedInput)="handleInput($event)" [type]="'userName'"></app-auth-input>
    <app-auth-input [placeholderValue]="'Email'" (completedInput)="handleInput($event)" [type]="'email'"></app-auth-input>
    <app-auth-input [placeholderValue]="'Mât khẩu'" (completedInput)="handleInput($event)" [type]="'password'"></app-auth-input>
    <app-auth-input [placeholderValue]="'Xác nhận mật khẩu'" (completedInput)="handleInput($event)" [type]="'confirmPassword'"></app-auth-input>
  </div>

  <button class="register-form__btn" (click)="onSubmit()">
    Đăng ký
  </button>

</div>
