<div class="register-form">
  <div class="register-form__title">
    ĐĂNG KÝ
  </div>

  <div class="register-form__describe">
    Vui lòng nhập thông tin theo yêu cầu bên dưới để thực hiện đăng ký.
  </div>

  <div class="register-form__input">
    <app-auth-input [valueInput]="'Họ tên'"></app-auth-input>
    <app-auth-input [valueInput]="'Email'"></app-auth-input>
    <app-auth-input [valueInput]="'Mât khẩu'"></app-auth-input>
    <app-auth-input [valueInput]="'Xác nhận mật khẩu'"></app-auth-input>
  </div>

  <div class="register-form__btn">
    Đăng ký
  </div>

</div>
