<div class="register-form">
  <div class="register-form__title">
    ĐĂNG KÝ
  </div>

  <div class="register-form__describe">
    Vui lòng nhập thông tin theo yêu cầu bên dưới để thực hiện đăng ký.
  </div>

  <!-- <form class="register-form__input" [formGroup]="registerForm">
    <app-auth-input [placeholderValue]="'Họ tên'" (completedInput)="handleInput($event)" [type]="'fullName'" formControlName="fullName"></app-auth-input>
    <app-auth-input [placeholderValue]="'Email'" (completedInput)="handleInput($event)" [type]="'email'"></app-auth-input>
    <app-auth-input [dataType]="'password'" [placeholderValue]="'Mât khẩu'" (completedInput)="handleInput($event)" [type]="'password'"></app-auth-input>
    <app-auth-input [dataType]="'password'" [placeholderValue]="'Xác nhận mật khẩu'" (completedInput)="handleInput($event)" [type]="'confirmPassword'"></app-auth-input>
    <app-auth-input [dataType]="'number'" [placeholderValue]="'Số điện thoại'" (completedInput)="handleInput($event)" [type]="'phoneNumber'"></app-auth-input>
    <mat-form-field  appearance="fill" style="width: 100%; color: #0e88fa">
      <mat-label style="color: #0e88fa">Ngày sinh</mat-label>
      <input matInput [matDatepicker]="picker" name=”datepicker” ngModel #dateCtrl="ngModel" required readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched">Choose a Date</mat-error>
    </mat-form-field>
  </form> -->

  <form class="register-form__input" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="auth-input__text">
      <input formControlName="fullName" type="text" class="auth-input__text__inside" placeholder="Họ và tên">
      <div *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)" class="message-error">
        <div *ngIf="fullName.errors?.required" class="text text-danger">
          Vui lòng nhập trường này.
        </div>
      </div>
    </div>

    <div class="auth-input__text">
      <input formControlName="email" type="text" class="auth-input__text__inside" placeholder="Email">
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="message-error">
        <div *ngIf="email.errors?.required" class="text text-danger">
          Vui lòng nhập trường này.
        </div>
        <div *ngIf="email.errors?.email" class="text text-danger">
          Định dạng email không hợp lệ.
        </div>
      </div>
    </div>

    <div class="auth-input__text">
      <input formControlName="password" type="password" class="auth-input__text__inside" placeholder="Mật khẩu">
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="message-error">
        <div *ngIf="password.errors?.required" class="text text-danger">
          Vui lòng nhập trường này.
        </div>
        <div *ngIf="password.errors?.pattern" class="text text-danger">
          Mật khẩu phải chứa ít nhất 1 chữ thường, 1 chữ in hoa và 1 chữ số.
        </div>
      </div>
    </div>

    <div class="auth-input__text">
      <input formControlName="confirmPassword" type="password" class="auth-input__text__inside"
        placeholder="Nhập lại mật khẩu">
      <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)" class="message-error">
        <div *ngIf="confirmPassword.errors?.required" class="text text-danger">
          Vui lòng nhập trường này.
        </div>
        <div *ngIf="confirmPassword.errors?.notSame" class="text text-danger">
          Nhập lại mật khẩu không khớp với mật khẩu.
        </div>
      </div>
    </div>

    <div class="auth-input__text">
      <input formControlName="phoneNumber" type="number" class="auth-input__text__inside" placeholder="Số điện thoại">
      <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="message-error">
        <div *ngIf="phoneNumber.errors?.required" class="text text-danger">
          Vui lòng nhập trường này.
        </div>
      </div>
    </div>

    <mat-form-field appearance="fill" style="width: 100%; color: #0e88fa">
      <mat-label style="color: #0e88fa">Ngày sinh</mat-label>
      <input formControlName="dob" matInput [matDatepicker]="picker" name="datepicker" ngModel #dateCtrl required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateCtrl.errors?.required && dateCtrl.touched">Choose a Date</mat-error>
    </mat-form-field>
  </form>

  <button class="register-form__btn" (click)="onSubmit()">
    Đăng ký
  </button>

</div>
