<div class="home-left-side">
    <div class="home-left-side__profile">
        <img class="home-left-side__profile__avatar" src="assets/image/default-avatar.png" />

        <div class="home-left-side__profile__name">
            {{currentName}}
        </div>
    </div>

    <div class="home-left-side__category">
        <div class= "home-left-side__category__list" *ngFor="let cate of this.categoryContext">
            <div *ngIf="cate?.type == 'fas'; else elseBlock">
                <fa-icon class= "home-left-side__category__list__icon" [icon]="cate?.icon"></fa-icon>
            </div>

            <ng-template #elseBlock>
                <mat-icon class= "home-left-side__category__list__icon" aria-hidden="false" aria-label="icon">{{cate?.icon}}</mat-icon>
            </ng-template>

            <div class= "home-left-side__category__list__title">
                {{cate?.title}}
            </div>
        </div>
    </div>


    <div class="home-left-side__shortcut">
        <div class="home-left-side__shortcut__title">
            Lối tắt của bạn
        </div>

        <div class="home-left-side__shortcut__list">
            <div class="home-left-side__shortcut__list__item" *ngFor="let item of this.shortcutData">
                <img class="home-left-side__shortcut__list__item__image" src={{item?.image}}>

                <div class="home-left-side__shortcut__list__item__name">
                    {{item?.name}}
                </div>
            </div>
        </div>
    </div>
</div>
