@import './../styles/variables';

.another-page-position {
    position: relative;
    width: calc(100% - 6% - 540px);
    max-width: 1264px;
    margin: 0 auto;
    top: calc(56px + 2%);
    left: 0;
    right: 0;
    z-index: 1;

    @media (max-width: 1024px) {
        width: 100%;
        left: 0;
        top: calc(120px + 2%);
    }
    p { margin: 0 }

    overflow: hidden;

}

.home-aside-left, .home-aside-right {
    width: 275px;
    background-color: #fff;
    margin: 1%;
    position: fixed;
    overflow: auto;
    overflow-y: scroll;
    top: 57px;
    bottom: 0px;
    border-radius: $border-radius-light;

    @media (max-width: 1024px) {
        display: none;
    }


    //scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

.home-aside-right {
    right: 1%;
    margin: 1% 0;
}

.no-login {
    background-color: #fff;
}