@import "./../styles/variables";

.another-page-position {
    /* position: relative; */
    width: calc(100% - 5% - 40%);
    max-width: 1264px;
    margin: 0 auto;
    padding-top: 70px;
    //height: calc(100vh - 90px);
    height: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: calc(100vh - 20px);

    @media (max-width: 1024px) {
        width: 100%;
        left: 0;
        margin-top: 65px;
    }
    p {
        margin: 0;
    }

    overflow: hidden;
}

.home-aside-left,
.home-aside-right {
    width: 20%;
    background-color: #fff;
    margin: 1%;
    position: fixed;
    top: 0;
    margin-top: 70px;
    bottom: 0px;
    border-radius: $border-radius-light;
    max-width: 340px;

    @media (max-width: 1024px) {
        display: none !important;
    }

    //scrollbar
    &::-webkit-scrollbar {
        display: none;
    }
}

.home-aside-right {
    right: 0;
}

.no-login {
    background-color: #fff;
}

.root-message {
    visibility: hidden;
}
