<div class="notification" infiniteScroll [infiniteScrollDistance]="notificationScrollDistance"
  [infiniteScrollThrottle]="notificationScrollThrottle" (scrolled)="onNotificationScrollDown()" [scrollWindow]="false">
  <div class="notification__container" *ngFor="let noti of notifications index as index">
    <!-- avatar thông báo -->
    <img class="notification__avatar" src="assets/image/default-avatar.png" />
    <div>
      <!-- Receive request -->
      <div>
        <div (click)="handleNotiType(noti?.type, index)" class="noti-info"
          *ngIf="noti?.type === NotifyType.RECEIVE_REQUEST">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          <b>{{ noti?.data.receiverName }}</b> đã đăng ký nhận vật phẩm với nội dung:
          <i>"{{ noti?.data?.receiveReason }}"</i>
        </div>

        <!-- Cancel Receive -->
        <div (click)="handleNotiType(noti?.type, index)" class="noti-info" #CANCEL_RECEIVE_REQUEST
          *ngIf="noti?.type === NotifyType.CANCEL_RECEIVE_REQUEST">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          Bạn đã <b>hủy chọn</b> đăng ký nhận của bạn
        </div>

        <!-- Request status -->
        <div (click)="handleNotiType(noti?.type, index)" class="noti-info" #REQUEST_STATUS
          *ngIf="noti?.type === NotifyType.REQUEST_STATUS">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          Yêu cầu đăng ký nhận của bạn đã <b>{{ handleRequestStatus(noti?.data?.requestStatus) }}</b>
        </div>

        <!-- Send thanks -->
        <div (click)="handleNotiType(noti?.type, index)" class="notification__thanks noti-info" #SEND_THANKS
          *ngIf="noti?.type === NotifyType.SEND_THANKS">
          <b>{{ noti?.data?.sendFromAccountName }}</b> đã gửi lời cảm ơn đến bạn với nội dung:
          <i>"{{ noti?.data?.content }}"</i>
        </div>

        <!-- Confirm send -->
        <div (click)="handleNotiType(noti?.type, index)" class="noti-info" #CONFIRM_SENT
          *ngIf="noti?.type === NotifyType.CONFIRM_SENT">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          Chủ sở hữu đã xác nhận tặng vật phẩm cho <b>{{ handleReceiverName(noti?.data?.receiverId) }}</b>
        </div>
      </div>
      <div><i>{{ noti?.createTime | time }}</i></div>
    </div>
  </div>

  <div class="no-noti" *ngIf="notifications?.length === 0">
    Bạn không có bất kì thông báo
  </div>
</div>
