<div class="notification">
  <div class="notification__container" *ngFor="let noti of notificationData">
    <!-- avatar thông báo -->
    <img class="notification__avatar" src="assets/image/default-avatar.png" />
    <div>
      <div>
        <div class="noti-info" *ngIf="noti?.type === 2">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          <b>{{ noti?.data.receiverName }}</b> đã đăng ký nhận vật phẩm với nội dung:
          <i>"{{ noti?.data?.receiveReason }}"</i>
        </div>

        <!-- Cancel Receive -->
        <div class="noti-info" #CANCEL_RECEIVE_REQUEST *ngIf="noti?.type === 3">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          Bạn đã <b>hủy chọn</b> đăng ký nhận của bạn
        </div>

        <!-- Request status -->
        <div class="noti-info" #REQUEST_STATUS *ngIf="noti?.type === 4">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
          Yêu cầu đăng ký của bạn đã <b>{{ handleRequestStatus(noti?.data?.requestStatus) }}</b>
        </div>

        <!-- Send thanks -->
        <div class="notification__thanks noti-info" #SEND_THANKS *ngIf="noti?.type === 5">
          <b>{{ noti?.data?.sendFromAccountName }}</b> đã gửi lời cảm ơn đến bạn với nội dung:
          <i>"{{ noti?.data?.content }}"</i>
        </div>

        <!-- Confirm send -->
        <div class="noti-info" #CONFIRM_SENT *ngIf="noti?.type === 6">
          <div class="notification__title">{{ noti?.data?.itemName }}</div>
            Chủ sở hữu đã xác nhận sẽ gửi món đồ đến <b>{{ handleReceiverName(noti?.data?.receiverId) }}</b>
        </div>
      </div>
      <div><i>{{ noti?.createTime | time }}</i></div>
    </div>
  </div>
</div>
