<div
  class="notification"
  infiniteScroll
  [infiniteScrollDistance]="notificationScrollDistance"
  [infiniteScrollThrottle]="notificationScrollThrottle"
  (scrolled)="onNotificationScrollDown()"
  [scrollWindow]="false"
>
  <div
    class="notification__container"
    *ngFor="let noti of notifications; index as index"
    (click)="handleNotiType(noti?.type, index)"
  >
    <!-- avatar thông báo -->
    <div>
      <!-- Receive request -->
      <div>
        <div *ngIf="noti?.type === NotifyType.RECEIVE_REQUEST" class="flex">
          <img class="notification__avatar" src="assets/image/user-request.png" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.itemName }}</div>
            <b>{{ noti?.data.receiverName }}</b> đã đăng ký nhận vật phẩm với nội dung:
            <i>"{{ noti?.data?.receiveReason }}"</i>
          </div>
        </div>

        <!-- Cancel Receive -->
        <div #CANCEL_RECEIVE_REQUEST *ngIf="noti?.type === NotifyType.CANCEL_RECEIVE_REQUEST" class="flex">
          <img class="notification__avatar" src="assets/image/registration.png" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.itemName }}</div>
            Bạn đã <b>hủy chọn</b> đăng ký nhận của bạn
          </div>
        </div>

        <!-- Request status -->
        <div
          #REQUEST_STATUS
          *ngIf="noti?.type === NotifyType.REQUEST_STATUS"
          class="flex"
        >
          <img class="notification__avatar" src="assets/image/registration.png" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.itemName }}</div>
            Yêu cầu đăng ký nhận của bạn đã <b>{{ handleRequestStatus(noti?.data?.requestStatus) }}</b>
          </div>
        </div>

        <!-- Send thanks -->
        <div
          class="notification__thanks flex"
          #SEND_THANKS
          *ngIf="noti?.type === NotifyType.SEND_THANKS"
        >
          <img class="notification__avatar" src="{{noti?.data?.sendFromAccountAvatarUrl || 'assets/image/default-avatar.png'}}" />

          <div class="noti-info">
            <b>{{ noti?.data?.sendFromAccountName }}</b> đã gửi lời cảm ơn đến bạn với nội dung:
            <i>"{{ noti?.data?.content }}"</i>
          </div>
        </div>

        <!-- Confirm send -->
        <div
          #CONFIRM_SENT
          *ngIf="noti?.type === NotifyType.CONFIRM_SENT"
          class="flex"
        >
          <img class="notification__avatar" src="assets/image/done.png" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.itemName }}</div>
            Chủ sở hữu đã xác nhận tặng vật phẩm cho <b>{{ handleReceiverName(noti?.data) }}</b>
          </div>
        </div>

        <div
          #INVITE_MEMBER
          *ngIf="noti?.type === NotifyType.INVITE_MEMBER"
          class="flex"
        >
          <img class="notification__avatar" src="{{noti?.data?.avatarUrl || 'assets/image/group.png'}}" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.groupName }}</div>
            Bạn nhận được lời mời vào nhóm <b>{{ noti?.data?.groupName }}</b>
          </div>
        </div>

        <div
          #ACCEPT_INVITATION
          *ngIf="noti?.type === NotifyType.ACCEPT_INVITATION"
          class="flex"
        >
          <img class="notification__avatar" src="{{noti?.data?.avatarUrl || 'assets/image/group.png'}}" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.groupName }}</div>
            <b>{{ noti?.data?.fullName }}</b> đã chấp nhận lời mời vào nhóm <b>{{ noti?.data?.groupName }}</b>
          </div>
        </div>

        <div
          #JOIN_REQUEST
          *ngIf="noti?.type === NotifyType.JOIN_REQUEST"
          class="flex"
        >
          <img class="notification__avatar" src="{{noti?.data?.avatarUrl || 'assets/image/group.png'}}" />

          <div class="noti-info">
            <div class="notification__title">{{ noti?.data?.groupName }}</div>
            <b>{{ noti?.data?.fullName }}</b> đã gửi yêu cầu tham gia vào nhóm <b>{{ noti?.data?.groupName }}</b>
          </div>
        </div>
      </div>
      <div class="time">
        <i>{{ noti?.createTime | time }}</i>
      </div>
    </div>
  </div>

  <div class="no-noti" *ngIf="notifications?.length === 0">Bạn không có bất kì thông báo</div>
</div>

<app-loader [style.display]="this.loading ? 'block' : 'none'"></app-loader>