<div class="reset-password-container">
  <div class="reset-password-container__left">
    <app-auth-header></app-auth-header>
    <div class="reset-password__form">
      <div class="reset-password__form__title">
        RESET MẬT KHẨU
      </div>

      <div class="reset-password__form__describe">
        Vui lòng nhập thông tin theo yêu cầu bên dưới để thực hiện reset mật khẩu.
      </div>

      <form class="reset-password__form__input" [formGroup]="resetForm" (ngSubmit)="onSubmit()">

        <!-- <div class="auth-input__text">
            <input formControlName="email" type="text" class="auth-input__text__inside" placeholder="Email">
            <div *ngIf="email.invalid && (email.dirty || email.touched)" class="message-error">
              <div *ngIf="email.errors?.required" class="text text-danger">
                Vui lòng nhập trường này.
              </div>
              <div *ngIf="email.errors?.email" class="text text-danger">
                Định dạng email không hợp lệ.
              </div>
            </div>
          </div> -->

        <div class="auth-input__text">
          <input formControlName="password" type="password" class="auth-input__text__inside" placeholder="Mật khẩu">
          <div *ngIf="password.invalid && (password.dirty || password.touched)" class="message-error">
            <div *ngIf="password.errors?.required" class="text text-danger">
              Vui lòng nhập trường này.
            </div>
            <div *ngIf="password.errors?.pattern" class="text text-danger">
              Mật khẩu phải chứa ít nhất 1 chữ thường, 1 chữ in hoa và 1 chữ số.
            </div>
          </div>
        </div>

        <div class="auth-input__text">
          <input formControlName="confirmPassword" type="password" class="auth-input__text__inside"
            placeholder="Nhập lại mật khẩu">
          <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
            class="message-error">
            <div *ngIf="confirmPassword.errors?.required" class="text text-danger">
              Vui lòng nhập trường này.
            </div>
            <div *ngIf="confirmPassword.errors?.notSame" class="text text-danger">
              Nhập lại mật khẩu không khớp với mật khẩu.
            </div>
          </div>
        </div>
      </form>

      <button class="reset-password__form__btn" (click)="onSubmit()">
        Xác nhận
      </button>

    </div>

  </div>
  <div class="reset-password-container__right">
    <div class="reset-password-container__right__circle"></div>
  </div>
</div>

<app-loader *ngIf="isLoading"></app-loader>
