@import "../../../../../../styles/variables";

.reset-password-container {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100vh;
  font-size: $title-font-size;

  @media (min-width: 768px) and (max-width: 1024px) {
    display: block;
  }

  @media (max-width: 767px) {
    display: block;
  }

  &__left {
    margin: 3% 13%;
  }

  &__right {
    background-image: $linear-vertical;
    display: flex;
    align-items: center;

    @media (min-width: 768px) and (max-width: 1024px) {
      display: none;
    }

    @media (max-width: 767px) {
      display: none;
    }

    &__circle {
      width: 90%;
      padding-top: 90%; //height = width
      background-color: #9dd0ff2b;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 85%;
        padding-top: 85%; //height = width
        border-radius: 50%;
        background-color: #9ed0ff2b;
        background-size: 100px 100px;
        background-size: 75%;
        background-image: url("../../../../../../assets//image/image-forgot-otp-verificaition.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }

  .reset-password__form {
    @media (min-width: 1281px) {
      margin-top: 20px;
    }

    @media (min-width: 1025px) and (max-width: 1280px) {
      margin-top: 50px;
    }

    &__title {
      font-weight: $font-weight-bold;
      font-size: $largest-font-size;
      color: $primary-text-color;
      margin-bottom: 5%;
    }

    &__describe {
      color: $primary-light-text-color;
      margin-bottom: 8%;
    }

    &__input {
      &__text {
        margin-top: 4%;

        &__inside {
          border: none;
          padding: 2% 0;
          border-bottom: 1px solid $primary-color;
          width: 100%;
          color: $primary-color;
          font-size: $default-font-size;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: $primary-color;
          }
        }
      }
    }
    &__btn {
      width: 100%;
      border: none;
      text-align: center;
      margin: 8% 0;
      padding: 3% 0;
      background-color: $btn-color;
      color: white;
      border-radius: 10px;
      cursor: pointer;
      box-shadow: 0 10px 20px 0 $box-shadow-color;

      &:hover {
        background-color: $btn-selected;
      }
    }
  }

  .auth-input__text {
    margin-top: 4%;

    &__inside {
      border: none;
      padding: 2% 0;
      border-bottom: 1px solid $primary-color;
      width: 100%;
      color: $primary-color;
      font-size: $default-font-size;

      &:focus {
        outline: none;
      }

      &::placeholder {
        color: $primary-color;
      }
    }
  }

  .message-error {
    margin-top: 6px;
  }

  .text-danger {
    font-size: 14px;
    color: rgb(235, 33, 33);
  }
}
