<div class="chart" >
  <div class="chart__title">Danh sách người dùng có đóng góp trong tháng {{currentMonth}}</div>

  <div class="chart__list">
    <div class="chart__list__profile" *ngFor="let user of topUserData" [routerLink]="['/profile', user?.accountId]">
      <img
        class="chart__list__profile__avatar"
        src="{{ user?.avatarUrl || 'assets/image/default-avatar.png' }}"
      />

      <div class="chart__list__profile__info">
        <div class="chart__list__profile__info__name">
          {{ user?.donateAccountName }}
        </div>

        <div class="chart__list__profile__info__times">
          {{ user?.donateTime }}
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [style.display]="this.loading ? 'block' : 'none'"></app-loader>